.image{
  margin-left: auto;
  margin-right: auto;
}

input[type="text"], textarea, select {
  margin-bottom: 5%;
  width: 75%
}

input[type="button"]{
  width: 15%;
}

#main {
  /*text-align: center;*/
  width: 40%;

  margin: 0 auto;
  margin-top: 5%;
  /*margin-top: 500px;*/

  border: thick solid #ccccff;
  border-radius: 35px;

  padding: 4%;
}

#listbox {
  width: 75%;
  float: left;
}

#listbox-button{
  float: right;
}

#message {
  resize: none;
  height: 150px;
}

#recipient {
  width: 100%;
  text-align: center;
  /*border: 1px solid red;*/
  margin: 0 auto;
  margin-left: 0%;
  height: 30px;
}

#recipient-text {
  float: left;
}

#recipient-button{
  float: right;
}

#image-text{
  /*image position is relative to its first ancestor element (global window)*/
  position: absolute;

  max-width: 15%;
  max-height: 15%;
  margin-top: 2.5%;

  left: 35%;
  top: 0px;
}

