/* -----------Boxes------------ */
.box-basic{
  border: thick solid #ccccff;
  border-radius: 35px;
  float: left;
}

.box-side{
  width: 20%;
  margin-top: 10%;
  padding: 2%;
}

/* with margins, border auto-collapses, so we use that, not padding */

#box-right{
  margin-right: 5%;
}

#box-left{
  margin-left: 5%;
}

#main {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  float: left;

  padding: 4%;
}
/* ----------------------------- */

/* --------Buttons/Fields------- */
input[type="text"], textarea, select{
  margin-bottom: 5%;
  width: 75%;
}

input[type="button"]{
  width: 15%;
}

input[type="checkbox"]{
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

input[type="time"]{
  color: black;
}

label{
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  color: #d7c316;
}

input[type="date"]{
  color: black;
}

#listbox {
  width: 75%;
  float: left;
}

#listbox-button{
  float: right;
}

#message {
  resize: none;
  height: 150px;
}

#recipient {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-left: 0%;
  height: 30px;
}

#recipient-text {
  float: left;
}

#recipient-button{
  float: right;
}

.checkbox-wrapper{
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: .5rem;
}
/* ----------------------------- */


/* ---------Image--------------- */
.image{
  margin-left: auto;
  margin-right: auto;
}

#image-text{
  /*image position is relative to its first ancestor element (global window)*/
  position: absolute;

  max-width: 15%;
  max-height: 15%;
  margin-top: 2.5%;

  left: 35%;
  top: 0px;
}
/* ----------------------------- */


/* -------Notification---------- */
.notification-enter {
  max-height: 0;
  overflow: hidden;
}

.notification-enter.notification-enter-active {
  max-height: 500px;
  transition: max-height 1s linear;
}

.notification-leave {
  opacity: 1;
}

.notification-leave.notification-leave-active {
  opacity: 0.01;
  transition: opacity 1.5s ease-out;
}

.notification-block {
  position: absolute;
  width: 30%;
  top: 0%;

  display: table;
  height: 50px;
  background-color: #ccccff;
  border-radius: 8px;
  color: #0e0c92;
}

.notification-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: fantasy;
  font-size: 20px;
}

/* ----------------------------- */
